@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background: rgb(5, 5, 27);
	background: linear-gradient(
		90deg,
		rgba(5, 5, 27, 1) 0%,
		rgba(10, 27, 92, 1) 100%
	);

	/* background: rgb(3, 3, 41);
	background: linear-gradient(
		90deg,
		rgba(3, 3, 41, 1) 0%,
		rgba(40, 51, 94, 1) 100%
	); */

	/* background: rgb(3, 3, 41);
	background: linear-gradient(
		90deg,
		rgba(3, 3, 41, 1) 0%,
		rgba(9, 28, 108, 1) 100%
	); */

	/* background: rgb(3, 3, 41);
	background: linear-gradient(
		90deg,
		rgba(3, 3, 41, 1) 0%,
		rgba(6, 29, 122, 1) 100%
	); */

	/* background: rgb(1, 1, 101);
	background: linear-gradient(
		90deg,
		rgba(1, 1, 101, 1) 0%,
		rgba(24, 26, 34, 1) 100%
	); */
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.notFoundContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	font-family: "Noto Sans", sans-serif;
	color: rgb(124, 226, 244);
}

.notFoundContainer h1:first-child {
	color: white;
}

.notFoundContainer div {
	height: 50px;
	border: 1.5px solid rgb(37, 70, 126);
	margin: 0 10px 0 10px;
}
