@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.blogContainer {
	/* border: 1px solid white; */
	padding: 10px;
	width: 70%;
	margin: 3% auto;
	border-radius: 5px;
	word-wrap: break-word;
	/* background-color: rgb(13, 29, 52); */
}

.blogContainer .detailsContainer {
	padding: 10px;
	font-family: "Manrope", sans-serif;
	text-align: center;
}

.blogContainer .detailsContainer .userInfo {
	display: inline-flex;
	margin: 10px;
	align-items: center;
}

.blogContainer .detailsContainer .userInfo a {
	color: rgb(0, 195, 255);
}

.blogContainer .detailsContainer .userInfo img {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 10px;
}

.blogContainer .contentContainer {
	padding: 20px;
	white-space: pre-line;
}
